<div class="community">
  <div class="container">
    <div class="col-sm-4 info item">
      <img src="img/footer_logo.png" alt="">

      <p class="title">our community</p>

      <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <div class="col-sm-4 item">
      <img class="img-responsive" src="img/community1.jpg" alt="">
    </div>
    <div class="col-sm-4 item">
      <img class="img-responsive" src="img/community2.jpg" alt="">
    </div>
  </div>
</div>