<div class="download">
  <div class="container">
    <p class="title">Download it</p>

    <div class="desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>

    <p class="button">apple store <span class="apple"></span></p>

    <p class="button">play store <span class="android"></span></p>
  </div>
</div>