<div class="main-info">
  <div class="container">
    <img class="pull-right hidden-sm hidden-xs" src="img/hand.png" alt="">

    <p class="subtitle">Rappresent your life with a simple photo</p>

    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut <b>enim ad minim</b> veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>

    <a href="#" class="button">get started</a>
  </div>
</div>